[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Nordicaps/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Nordicaps/products-ms-nordicaps.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Nest-Nordicaps/order-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Nordicaps/auth-ms.git
